.test{
    display: flex;
    flex-direction: row;
    justify-content:center;
    
    }
    .test2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right:10px ;
    text-shadow: #000000  1px 1px, #000000  -1px 1px, #000000  -1px -1px, #000000  1px -1px;
    
    }