@import '_Nav.scss';
body {
    background-color: black;
}

img {
    justify-content: center;
}
h2{
    opacity: 0;
}
@media (min-width: 768px) { .carousel-multi-item-2 .col-md-3 { float: left; width: 25%; max-width: 100%; } } .carousel-multi-item-2 .card img { border-radius: 2px; }

.control {
    align-items: center;

    img{
        width: 50px;
    }
}